body{background-color:  #D1F2EB }h1{text-align: center; color: #0E6251; }
p.menu{background-color: #76D7C4  ;}
#alert{color: red; }
h2{ color: #0E6251;}

form{;
                color: #0E6251;
                }	
textarea{border:dotted green 2px;
         width:400px; height: 200px;}
         div{background-color:#E8F8F5;
         padding: 10px;
                margin: 10px;	
             border:solid #148F77 3px;}
hr{size: 4px; background-color: #D1F2EB}             