body{background-color:  #D1F2EB }
h1{text-align: center; color: #0E6251; }
p.menu{background-color: #76D7C4  ;}
#alert{color: red; }
h2{color: #0E6251; text-align: center;}
h4{text-align: center}