body{background-color:  #D1F2EB }h1{text-align: center; color: #0E6251; }
p.menu{background-color: #76D7C4  ;}
#alert{color: red; }
h2{ color: #0E6251; text-align: center;}
h3{ color: #0E6251;}
div{border: solid #148F77 3px; padding: 4px; margin: 4px}
hr{size: 4px; background-color: #D1F2EB}