body{background-color:  #D1F2EB }
h1{text-align: center; color: #0E6251; }
p.menu{background-color: #76D7C4  ;}
#alert{color: red; }
h3{text-align: center;color: #0E6251; text-decoration: underline;}
hr{size: 4px; background-color: #D1F2EB}